<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pri.Vue.Store.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pri.Vue.Store.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bull.com</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Categories">Beheer categorieën</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Products">Beheer producten</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <div v-if="!isLoggedIn" id="loginForm" class="d-flex flex-column">
                        <form v-on:submit.prevent="submitLogin" class="d-flex" role="login">
                            <input v-model="email" class="form-control me-2" type="email" placeholder="e-mail" aria-label="E-mail">
                            <input v-model="password" class="form-control me-2" type="password" placeholder="password" aria-label="Password">
                            <button class="btn btn-outline-primary" type="submit">Login</button>
                        </form>
                    </div>
                    <div v-if="isLoggedIn" class="d-inline-flex">
                        <div class="me-2">
                            <p class="d-inline">Welkom e-mailadres hier!</p>
                            <img class="d-inline-block rounded-circle ms-2" width="50" height="50" src="#" />
                        </div>
                        <button class="btn btn-danger align-self-center" type="submit">Logout</button>
                    </div>
                    <div v-if="isError" class="alert alert-danger p-2 my-2">{{errorMessage}}</div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Pri.Vue.Store.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/js/navigation.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
